<a href="https://colab.research.google.com/github/najlaatikahdwirahma/CapstoneProject_StartupCampus/blob/main/Churn_di_Hari_Besar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_customer = pd.read_parquet('/content/drive/MyDrive/[DS Final Project] Team Athena/Dataset Blom Final/df_customer.parquet')
df_customer.head(2)

,customer_id,first_name,last_name,username,email,gender,birthdate,device_type,device_id,device_version,home_location_lat,home_location_long,home_location,home_country,first_join_date,umur,subscription_duration,average_spending,spending_category
0,2870,Lala,Maryati,671a0865-ac4e-4dc4-9c4f-c286a1176f7e,671a0865_ac4e_4dc4_9c4f_c286a1176f7e@startupca...,F,1996-06-14,iOS,c9c0de76-0a6c-4ac2-843f-65264ab9fe63,iPhone; CPU iPhone OS 14_2_1 like Mac OS X,-1.043345,101.360523,Sumatera Barat,Indonesia,2019-07-21,27,4.323288,NaN,None
1,8193,Maimunah,Laksmiwati,83be2ba7-8133-48a4-bbcb-b46a2762473f,83be2ba7_8133_48a4_bbcb_b46a2762473f@zakyfound...,F,1993-08-16,Android,fb331c3d-f42e-40fe-afe2-b4b73a8a6e25,Android 2.2.1,-6.212489,106.818850,Jakarta Raya,Indonesia,2017-07-16,30,6.336986,NaN,None

In [ ]:
df_feature = pd.read_parquet('/content/drive/MyDrive/[DS Final Project] Team Athena/Dataset Blom Final/df_feature.parquet')
df_feature.head(2)

,session_id,created_at,customer_id,booking_id,promo_amount,shipment_fee,total_amount,product_id,quantity,item_price,...,homepage,scroll,click,item_detail,promo_page,search,add_to_cart,add_promo,web,mobile
0,3abaa6ce-e320-4e51-9469-d9f3fa328e86,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,1415,10000,199832,NaN,NaN,NaN,...,4.0,NaN,7.0,2.0,5.0,1.0,4.0,1.0,25.0,NaN
1,3abaa6ce-e320-4e51-9469-d9f3fa328e86,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,1415,10000,199832,NaN,NaN,NaN,...,4.0,NaN,7.0,2.0,5.0,1.0,4.0,1.0,25.0,NaN

In [ ]:
df_feature = df_feature.copy()

In [ ]:
df_feature['created_at'] = pd.to_datetime(df_feature['created_at'])

In [ ]:
df_feature['date_month_year'] = df_feature['created_at'].dt.strftime('%Y-%m-%d')

In [ ]:
df_feature.head()

,session_id,created_at,customer_id,booking_id,promo_amount,shipment_fee,total_amount,product_id,quantity,item_price,...,scroll,click,item_detail,promo_page,search,add_to_cart,add_promo,web,mobile,date_month_year
0,3abaa6ce-e320-4e51-9469-d9f3fa328e86,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,1415,10000,199832,NaN,NaN,NaN,...,NaN,7.0,2.0,5.0,1.0,4.0,1.0,25.0,NaN,2018-07-29
1,3abaa6ce-e320-4e51-9469-d9f3fa328e86,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,1415,10000,199832,NaN,NaN,NaN,...,NaN,7.0,2.0,5.0,1.0,4.0,1.0,25.0,NaN,2018-07-29
2,3abaa6ce-e320-4e51-9469-d9f3fa328e86,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,1415,10000,199832,NaN,NaN,NaN,...,NaN,7.0,2.0,5.0,1.0,4.0,1.0,25.0,NaN,2018-07-29
3,3abaa6ce-e320-4e51-9469-d9f3fa328e86,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,1415,10000,199832,NaN,NaN,NaN,...,NaN,7.0,2.0,5.0,1.0,4.0,1.0,25.0,NaN,2018-07-29
4,3abaa6ce-e320-4e51-9469-d9f3fa328e86,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,1415,10000,199832,NaN,NaN,NaN,...,NaN,7.0,2.0,5.0,1.0,4.0,1.0,25.0,NaN,2018-07-29

In [ ]:
# data aggregate

df_agg = df_feature.groupby(['date_month_year','customer_id']).agg(
                            total_shipment = pd.NamedAgg(column = 'shipment_fee', aggfunc=sum),
                            min_shipment = pd.NamedAgg(column = 'shipment_fee', aggfunc=min),
                            max_shipment = pd.NamedAgg(column = 'shipment_fee', aggfunc=max),
                            avg_shipment = pd.NamedAgg(column = 'shipment_fee', aggfunc='mean'),

                            total_amount = pd.NamedAgg(column = 'total_amount', aggfunc=sum),
                            min_amount = pd.NamedAgg(column = 'total_amount', aggfunc=min),
                            max_amount = pd.NamedAgg(column = 'total_amount', aggfunc=max),
                            avg_amount = pd.NamedAgg(column = 'total_amount', aggfunc='mean'),

                            total_quantity = pd.NamedAgg(column = 'quantity', aggfunc=sum),
                            min_quantity = pd.NamedAgg(column = 'quantity', aggfunc=min),
                            max_quantity = pd.NamedAgg(column = 'quantity', aggfunc=max),
                            avg_quantity = pd.NamedAgg(column = 'quantity', aggfunc='mean'),

                            min_item_price = pd.NamedAgg(column = 'item_price', aggfunc=min),
                            max_item_price = pd.NamedAgg(column = 'item_price', aggfunc=max),
                            avg_item_price = pd.NamedAgg(column = 'item_price', aggfunc='mean'),

                            frequency_trx = pd.NamedAgg(column = 'booking_id', aggfunc='nunique'),
                            total_unique_product = pd.NamedAgg(column = 'product_id', aggfunc='nunique'),
                            first_transaction = pd.NamedAgg(column = 'created_at', aggfunc=min),
                            last_transaction = pd.NamedAgg(column = 'created_at', aggfunc=max),
                            total_promo_amount = pd.NamedAgg(column = 'promo_amount', aggfunc=sum),
                            total_promo_code = pd.NamedAgg(column = 'promo_amount', aggfunc='nunique'),

                            avg_homepage = pd.NamedAgg(column = 'homepage', aggfunc='mean'),
                            avg_scroll = pd.NamedAgg(column = 'scroll', aggfunc='mean'),
                            avg_click = pd.NamedAgg(column = 'click', aggfunc='mean'),
                            item_detail = pd.NamedAgg(column = 'item_detail', aggfunc='mean'),
                            avg_promo_page = pd.NamedAgg(column = 'promo_page', aggfunc='mean'),
                            avg_search = pd.NamedAgg(column = 'search', aggfunc='mean'),
                            avg_add_to_cart = pd.NamedAgg(column = 'add_to_cart', aggfunc='mean'),
                            avg_add_promo = pd.NamedAgg(column = 'add_promo', aggfunc='mean'),

                            avg_web = pd.NamedAgg(column = 'web', aggfunc='mean'),
                            avg_mobile = pd.NamedAgg(column = 'mobile', aggfunc='mean')

                            ).reset_index()

In [ ]:
# Filter period

# 2016
year_16 = df_agg[df_agg['date_month_year'].str.startswith('2016')]

# 2017
year_17 = df_agg[df_agg['date_month_year'].str.startswith('2017')]

# 2018
year_18 = df_agg[df_agg['date_month_year'].str.startswith('2018')]

# 2019
year_19 = df_agg[df_agg['date_month_year'].str.startswith('2019')]

# 2020
year_20 = df_agg[df_agg['date_month_year'].str.startswith('2020')]

# 2021
year_21 = df_agg[df_agg['date_month_year'].str.startswith('2021')]

# 2022
year_22 = df_agg[df_agg['date_month_year'].str.startswith('2022')]

In [ ]:
# Gabungkan data frame dari tahun 2016 hingga 2022
df_combined = pd.concat([year_16, year_17, year_18, year_19, year_20, year_21, year_22], ignore_index=True)

## Tahun Baru

In [ ]:
newyear_holidays= [
    '2016-01-01',  # Tahun Baru Masehi
    '2017-01-01',
    '2018-01-01',
    '2019-01-01',
    '2020-01-01',
    '2021-01-01',
    '2022-01-01',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan tahun baru
df_combined['churn_newyear'] = df_combined['date_month_year'].isin(newyear_holidays).astype(int)

In [ ]:
df_combined['churn_newyear'].value_counts()

0    752853
1      1943
Name: churn_newyear, dtype: int64

## Imlek

In [ ]:
cny_holidays= [
    '2016-02-08',  # Tahun Baru Imlek
    '2017-01-28',
    '2018-02-16',
    '2019-02-05',
    '2020-01-25',
    '2021-02-12',
    '2022-01-22',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan tahun baru imlek
df_combined['churn_cny'] = df_combined['date_month_year'].isin(cny_holidays).astype(int)

In [ ]:
df_combined['churn_cny'].value_counts()

0    752750
1      2046
Name: churn_cny, dtype: int64

## Nyepi

In [ ]:
nyepi_holidays= [
    '2016-03-09',  # Nyepi
    '2017-01-28',
    '2018-03-17',
    '2019-03-07',
    '2020-03-25',
    '2021-03-14',
    '2022-03-03',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan libur nyepi
df_combined['churn_nyepi'] = df_combined['date_month_year'].isin(nyepi_holidays).astype(int)

In [ ]:
df_combined['churn_nyepi'].value_counts()

0    752627
1      2169
Name: churn_nyepi, dtype: int64

## Wafat Isa

In [ ]:
wafatisa_holidays= [
    '2016-03-25',  # Wafat Isa Almasih
    '2017-04-14',
    '2018-03-30',
    '2019-04-19',
    '2020-04-10',
    '2021-04-02',
    '2022-04-15',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan libur wafat Isa Almasih
df_combined['churn_wafatIsa'] = df_combined['date_month_year'].isin(wafatisa_holidays).astype(int)

In [ ]:
df_combined['churn_wafatIsa'].value_counts()

0    752791
1      2005
Name: churn_wafatIsa, dtype: int64

## Waisak

In [ ]:
waisak_holidays= [
    '2016-05-22',  # Hari Raya Waisak
    '2017-05-10',
    '2018-04-14',
    '2019-04-21',
    '2020-04-12',
    '2021-04-13',
    '2022-04-03',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan libur waisak
df_combined['churn_waisak'] = df_combined['date_month_year'].isin(waisak_holidays).astype(int)

In [ ]:
df_combined['churn_waisak'].value_counts()

0    752275
1      2521
Name: churn_waisak, dtype: int64

## Kenaikan Isa Almasih

In [ ]:
easter_holidays= [
    '2016-05-05',  # Kenaikan Isa Almasih
    '2017-05-25',
    '2018-05-10',
    '2019-05-30',
    '2020-05-21',
    '2021-05-13',
    '2022-05-26',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan libur kenaikan Isa Almasih
df_combined['churn_easter'] = df_combined['date_month_year'].isin(easter_holidays).astype(int)

In [ ]:
df_combined['churn_easter'].value_counts()

0    752669
1      2127
Name: churn_easter, dtype: int64

## Idul Fitri

In [ ]:
eidfitri_holidays= [
    '2016-07-06',  # Hari Raya Idul Fitri
    '2016-07-07',
    '2017-06-25',
    '2017-06-26',
    '2018-06-13',
    '2018-06-14',
    '2018-06-15',
    '2019-06-03',
    '2019-06-04',
    '2019-06-05',
    '2020-05-22',
    '2020-05-23',
    '2020-05-24',
    '2021-05-12',
    '2021-05-13',
    '2021-05-14',
    '2022-04-30',
    '2022-05-01',
    '2022-05-02',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan libur Isul Fitri
df_combined['churn_eidfitri'] = df_combined['date_month_year'].isin(eidfitri_holidays).astype(int)

In [ ]:
df_combined['churn_eidfitri'].value_counts()

0    747739
1      7057
Name: churn_eidfitri, dtype: int64

## HUT RI

In [ ]:
independenceday_holidays= [
	'2016-08-17',  # Hari Kemerdekaan RI
  '2017-08-17',
  '2018-08-17',
  '2019-08-17',
  '2020-08-17',
  '2021-08-17',
  '2022-08-17',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan libur HUT RI
df_combined['churn_independenceday'] = df_combined['date_month_year'].isin(independenceday_holidays).astype(int)

In [ ]:
df_combined['churn_independenceday'].value_counts()

0    753166
1      1630
Name: churn_independenceday, dtype: int64

## Idul Adha

In [ ]:
eidadha_holidays= [
  '2016-09-12',  # Hari Raya Idul Adha
  '2017-09-01',
  '2018-08-22',
  '2019-08-11',
  '2020-07-31',
  '2021-07-20',
  '2022-07-09',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan libur Idul Adha
df_combined['churn_eidadha'] = df_combined['date_month_year'].isin(eidadha_holidays).astype(int)

In [ ]:
df_combined['churn_eidadha'].value_counts()

0    752435
1      2361
Name: churn_eidadha, dtype: int64

## Tahun Baru Islam

In [ ]:
islamicny_holidays= [
  '2016-10-02',  # Tahun Baru Islam
  '2017-09-22',
  '2018-09-11',
  '2019-09-01',
  '2020-08-20',
  '2021-08-10',
  '2022-07-30',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan libur Tahun Baru Islam
df_combined['churn_islamicny'] = df_combined['date_month_year'].isin(islamicny_holidays).astype(int)

In [ ]:
df_combined['churn_islamicny'].value_counts()

0    752635
1      2161
Name: churn_islamicny, dtype: int64

## Maulid Nabi

In [ ]:
maulid_holidays= [
  '2016-12-12',  # Maulid Nabi Muhammad SAW
  '2017-12-01',
  '2018-11-20',
  '2019-11-09',
  '2020-10-29',
  '2021-10-19',
  '2022-10-08',
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan libur Maulid Nabi
df_combined['churn_maulid'] = df_combined['date_month_year'].isin(maulid_holidays).astype(int)

In [ ]:
df_combined['churn_maulid'].value_counts()

0    752930
1      1866
Name: churn_maulid, dtype: int64

## Natal

In [ ]:
christmas_holidays= [
    '2016-12-25'   # Natal
    '2017-12-25'
    '2018-12-25'
    '2019-12-25'
    '2020-12-25'
    '2021-12-25'
    '2022-12-25'
]

In [ ]:
# Menambahkan kolom 'churn' berdasarkan Natal
df_combined['churn_christmas'] = df_combined['date_month_year'].isin(christmas_holidays).astype(int)

In [ ]:
df_combined['churn_christmas'].value_counts()

0    754796
Name: churn_christmas, dtype: int64

In [ ]:
df_combined

In [ ]:
df_combined['churn_nyepi'].value_counts()

In [ ]:
df_combined.drop(['last_transaction', 'total_shipment', 'min_shipment', 'min_quantity', 'max_quantity', 'last_transaction', 'avg_web','avg_mobile', 'total_amount', 'total_promo_code', 'max_shipment', 'min_amount', 'max_amount', 'min_item_price', 'max_item_price', 'first_transaction'], axis=1, inplace=True)

In [ ]:
df_combined.info()

In [ ]:
df_combined_cleaned = df_combined.dropna()

In [ ]:
# Mengecek null value
df_combined_cleaned.isna().sum()

In [ ]:
df_combined_cleaned.drop(df_combined_cleaned[df_combined_cleaned['date_month_year'] == '1970-01-01'].index, inplace=True)

In [ ]:
# Menggabungkan data_final dan df_customer berdasarkan kolom 'customer_id'
df_churn_holidays = df_customer.merge(df_combined_cleaned, on='customer_id', how='inner')

In [ ]:
df_churn_publicholidays = df_churn_holidays.copy()

In [ ]:
df_churn_publicholidays.shape

In [ ]:
df_master_publicholidays = pd.DataFrame(df_churn_publicholidays)

# Menggabungkan kolom last_name dan first_name menjadi kolom nama
df_master_publicholidays['name'] = df_master_publicholidays['first_name'] + ' ' + df_master_publicholidays['last_name']

# Memasukkan kolom 'nama' ke posisi kedua
df_master_publicholidays.insert(1, 'name', df_master_publicholidays.pop('name'))

# Menampilkan DataFrame
df_master_publicholidays.head(2)

In [ ]:
df_master_publicholidays = df_master_publicholidays.drop(['first_name', 'last_name'], axis=1)

In [ ]:
import numpy as np
# Menggabungkan transaksi berdasarkan customer_id
df_master_publicholidays = df_master_publicholidays.groupby('customer_id').agg({
    'name': 'first',
    'username': 'first',
    'email': 'first',
    'gender': 'first',
    'birthdate': 'first',
    'device_type': 'first',
    'device_id': 'first',
    'device_version': 'first',
    'home_location_lat': 'first',
    'home_location_long': 'first',
    'home_country': 'first',
    'first_join_date': 'first',
    'umur': 'first',
    'subscription_duration': 'first',
    'average_spending': 'sum',
    'avg_amount': 'sum',
    'total_quantity': 'sum',
    'avg_quantity': 'sum',
    'avg_item_price': 'sum',
    'frequency_trx': 'sum',
    'total_unique_product': 'sum',
    'total_promo_amount': 'sum',
    'avg_homepage': 'mean',
    'avg_scroll': 'mean',
    'avg_click': 'mean',
    'item_detail': 'mean',
    'avg_promo_page': 'mean',
    'avg_search': 'mean',
    'avg_add_to_cart': 'mean',
    'avg_add_promo': 'mean',
    'churn_newyear': 'max',
    'churn_cny': 'max',
    'churn_nyepi': 'max',
    'churn_wafatIsa': 'max',
    'churn_waisak': 'max',
    'churn_easter': 'max',
    'churn_eidfitri': 'max',
    'churn_independenceday': 'max',
    'churn_eidadha': 'max',
    'churn_islamicny': 'max',
    'churn_maulid': 'max',
    'churn_christmas': 'max',
}).reset_index()

In [ ]:
df_master_publicholidays.head()

In [ ]:
df_master_publicholidays['churn_newyear'].value_counts()

In [ ]:
import matplotlib.pyplot as plt
# Data
labels = ['No Churn', 'Churn']
data = [df_master_publicholidays['churn_newyear'][df_master_publicholidays['churn_newyear'] == 0].count(),
        df_master_publicholidays['churn_newyear'][df_master_publicholidays['churn_newyear'] == 1].count()]
colors = ['skyblue', 'lightcoral']

# Membuat bar chart
plt.figure(figsize=(8, 6))
plt.bar(labels, data, color=colors)

# Menampilkan nilai di atas setiap bar
for i, count in enumerate(data):
    plt.text(labels[i], count, str(count), ha='center', va='bottom')

# Menambahkan label pada sumbu x dan y
plt.xlabel('Churn Status')
plt.ylabel('Jumlah')

# Memberikan judul pada bar chart
plt.title('Churn Distribution')

# Menampilkan bar chart
plt.show()

In [ ]:
df_master_publicholidays.to_parquet('/content/drive/My Drive/[DS Final Project] Team Athena/[FIX] Dataset Churn Final/df_master_publicholidays.parquet', index=False)

In [ ]:
df_master_publicholidays.to_csv('/content/drive/My Drive/[DS Final Project] Team Athena/[FIX] Dataset Churn Final/df_master_publicholidays.csv', index=False)